<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.rcorpin.woosimPrinter"
        version="0.1.0">
    <name>WoosimPrinter</name>
    <description>Woosim Printer Cordova Plugin</description>
    <license>All Rights Reserved</license>
    <keywords>phonegap,cordova,woosim,printer,bluetooth</keywords>
 
 
    <js-module src="www/woosimPrinter.js" name="WoosimPrinter">
        <clobbers target="window.woosimPrinter" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WoosimPrinter">
                <param name="android-package" value="com.rcorpin.woosimPrinter.WoosimPrinter"/>
            </feature>
        </config-file>
        <config-file target=".classpath" parent="/*">
            <classpathentry kind="lib" path="../../plugins/com.rcorpin.woosimPrinter/woosimprinter_bt.jar"/>
        </config-file>
 
        <source-file src="src/android/WoosimPrinter.java" target-dir="src/com/rcorpin/woosimPrinter" />      
     </platform>          
</plugin>